<div class="movementsContainer">
  Your movements:

  <mat-list>
    <mat-card *ngFor="let movement of movements" class="{{ movement.type }}">
      <span>Date: {{ movement.date }}</span>
      <span
        >{{ movement.type === "deposit" ? "Deposit" : "Withdraw" }}:
        {{ movement.value }}€</span
      >
      <span>Balance: {{ movement.balance }}€</span>
    </mat-card>
  </mat-list>

  <button class="backToHomeButton" mat-raised-button routerLink="/">
    Back to Home
  </button>
</div>
