<p>Your Balance is: {{ balance }}</p>
<nav>
  <ul>
    <li>
      <a
        routerLink="/movements"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Movements</a
      >
    </li>
    <li>
      <a
        routerLink="/deposit"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Deposit</a
      >
    </li>

    <li>
      <a
        routerLink="/withdraw"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Withdraw</a
      >
    </li>
  </ul>
</nav>
