<div class="landPageContainer">
  Welcome {{ userData.name }} ({{ userData.email }})
  <mat-card class="balanceContainer">
    <mat-card-title class="balanceTitle">Account Balance</mat-card-title>
    <mat-card-content class="balanceValue">{{ balance }}€</mat-card-content>
  </mat-card>
  <mat-card class="navContainer">
    <button mat-raised-button color="primary" routerLink="/movements">
      Movements
    </button>
    <button mat-raised-button color="accent" routerLink="/deposit">
      Deposit
    </button>
    <button mat-raised-button color="warn" routerLink="/withdraw">
      Withdraw
    </button>
  </mat-card>
</div>
