<div class="landPageContainer">
  <p>Welcome {{ userData.name }}</p>
  <div class="balanceContainer">
    <p>Account Balance</p>
    <p class="balanceValue">{{ balance }}€</p>
  </div>
  <nav>
    <button>
      <a
        routerLink="/movements"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Movements</a
      >
    </button>
    <button>
      <a
        routerLink="/deposit"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Deposit</a
      >
    </button>
    <button>
      <a
        routerLink="/withdraw"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Withdraw</a
      >
    </button>
  </nav>
</div>
