app-app-header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkcyan;
}

app-login {
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
