.depositContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

button {
  padding: 1rem;
}

.defaultStandardsContainer {
  display: flex;
  gap: 0.5rem;
}

.backToHomeButton {
  align-self: flex-end;
}
